.searchpage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  position: absolute;
  top: 30px;
}
.main-filterpanel-container {
  display: flex;
  position: absolute;
  top: 190px;
}
.scrollview-container {
  display: flex;
  top: 280px;
  position: absolute;
}
