.filterpanel .filterpanel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: 100vh;
  padding: 10px 15px;
}

.inactive-btn {
  height: 40px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: transparent;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 20px;
  position: relative;
}

.active-btn {
  height: 40px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  border: transparent;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 20px;
  position: relative;
}
button:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.filterpanel .icon {
  font-size: 22px;
  color: grey;
  background-color: transparent;
  padding: 0 10px;
  position: absolute;
  margin-right: 30px;
  /* width: 10px; */
}

.filterpanel p {
  position: absolute;
  margin-left: 30px;
}

@media screen and (max-width: 860px) {
  .filterpanel .filterpanel-container {
    width: 90vh;
  }
}

@media screen and (max-width: 600px) {
  .filterpanel .filterpanel-container {
    width: 65vh;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .filterpanel .filterpanel-container {
    width: 45vh;
    justify-content: center;
  }
}
