.opcontainer {
  display: flex;
  flex-direction: row;
}

.opcontainer .title {
  font-size: 1.1rem;
}

.opcontainer .posted {
  display: flex;
}

.opcontainer .postedbyon {
  color: gray;
}

.opcontainer .subreddit-name {
  font-weight: bold;
  padding: 0 10px;
}

.posted p {
  font-size: 0.8rem;
}

.opcontainer .comments-container {
  padding-top: 10px;
  width: 150px;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: grey;
  font-weight: bold;
  top: 85px;
}

.opcontainer video {
  width: 500px;
  height: 500px;
}
.opcontainer .score-container {
  position: relative;
  left: 5px;
}

.text-container .desc-text {
  position: relative;
  margin-top: 0px;
  font-size: 0.9rem;
  background-color: aliceblue;
}

@media screen and (max-width: 860px) {
  .opcontainer {
    width: 90vh;
    background-color: antiquewhite;
  }
  .opcontainer video {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .opcontainer {
    width: 65vh;
  }

  .opcontainer .title {
    font-size: 1rem;
  }
  .opcontainer video {
    width: 350px;
    height: 350px;
  }

  .posted p {
    font-size: 0.7rem;
  }
  .opcontainer .title {
    font-size: 1rem;
  }
  .opcontainer .comments-container {
    font-size: 0.7rem;
  }

  .opcontainer .score-container h3 {
    font-size: 0.8rem;
  }

  .posted {
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .opcontainer {
    width: 50vh;
  }
  .opcontainer video {
    width: 300px;
    height: 300px;
  }
}
